<div>
  <h2 id="page-heading" data-cy="LoanHeading">
    <span>Loans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loan"
        [routerLink]="['/loan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Loan</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (loans().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Loans found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="loanDate">
              <div class="d-flex">
                <span>Loan Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="returnDate">
              <div class="d-flex">
                <span>Return Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="book.title">
              <div class="d-flex">
                <span>Book</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="member.lastName">
              <div class="d-flex">
                <span>Member</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (loan of loans(); track trackId(loan)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/loan', loan.id, 'view']">{{ loan.id }}</a>
              </td>
              <td>{{ loan.loanDate | formatMediumDate }}</td>
              <td>{{ loan.returnDate | formatMediumDate }}</td>
              <td>
                @if (loan.book) {
                  <div>
                    <a [routerLink]="['/book', loan.book.id, 'view']">{{ loan.book.title }}</a>
                  </div>
                }
              </td>
              <td>
                @if (loan.member) {
                  <div>
                    <a [routerLink]="['/reader', loan.member.id, 'view']">{{ loan.member.lastName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/loan', loan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/loan', loan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(loan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
