<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-loan-heading" data-cy="LoanCreateUpdateHeading">Create or edit a Loan</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let loanDateRef = editForm.get('loanDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_loanDate">Loan Date</label>
          <div class="input-group">
            <input
              id="field_loanDate"
              data-cy="loanDate"
              type="text"
              class="form-control"
              name="loanDate"
              ngbDatepicker
              #loanDateDp="ngbDatepicker"
              formControlName="loanDate"
            />
            <button type="button" class="btn btn-secondary" (click)="loanDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (loanDateRef.invalid && (loanDateRef.dirty || loanDateRef.touched)) {
            <div>
              @if (editForm.get('loanDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_returnDate">Return Date</label>
          <div class="input-group">
            <input
              id="field_returnDate"
              data-cy="returnDate"
              type="text"
              class="form-control"
              name="returnDate"
              ngbDatepicker
              #returnDateDp="ngbDatepicker"
              formControlName="returnDate"
            />
            <button type="button" class="btn btn-secondary" (click)="returnDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book" [compareWith]="compareBook">
            <option [ngValue]="null"></option>
            @for (bookOption of booksSharedCollection; track $index) {
              <option [ngValue]="bookOption">{{ bookOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareReader"
          >
            <option [ngValue]="null"></option>
            @for (readerOption of readersSharedCollection; track $index) {
              <option [ngValue]="readerOption">{{ readerOption.lastName }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
